/*---Fonts---*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*---Global Styles---*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
    height: 100%;
    margin: 0;
}



/* ---------------------------------background*/

#hero-image {
    background-color: #000;
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/* ---------------------------------navbar*/

#menu, .nav-bar{
    line-height: 2.5;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 110%;
    list-style-type: none;
    margin-left: 30px;
    position: absolute;
    top: 5%;
}

#menu a {
    color: #fafafa;
}

#menu a:hover {
    color: #676767;
    text-decoration: none;
}

.nav-bar a {
    color: #000;
}

.nav-bar a:hover {
    color: #676767;
    text-decoration: none;
}

/* ---------------------------------Form*/

.center-form {
    padding-top: 5rem;
    padding-bottom: 10rem;
    margin: 0 auto;
    max-width: 60%;
    height: 32rem;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #000;
}

button a:hover {
    background-color: #676767;
}

.contact-heading {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding-top: 25rem;
}

input, textarea {
    margin-top: 1rem;
}

/* ---------------------------------Footer*/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
}
.container-social {
    text-align: center;
    padding: 7.5px;
    font-size: 30px;
    color: #000;
}

.button {
    color: rgba(0,0,0);
}

.button:hover{
    color:green;
    text-decoration: none;
}

.copyright {
    text-align: center;
}

/* ---------------------------------About*/


#about-image {
    width: 15rem;
    height: 10%;
    background-image: url("../images/stefano.jpg");
    background-repeat: no-repeat;
    background-size: 30%;
    min-height: 22.5;
    background-position: center;
    -webkit-background-size: 30%;
    -moz-background-size: 30%;
    -o-background-size: 30%;
}

.about-heading {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding-top: 25rem;
    text-align: center;
}

.about-heading p {
    font-family: "Roboto", sans-serif;
    padding-top: 5rem;
    padding-left: 30rem;
    padding-right: 30rem;
    text-align: center;
}


/* ---------------------------------Exibitions*/

.exibition {
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding-top: 5rem;
}

.exibition-heading {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding-bottom: 2rem;
}



